# Automatic EDA using `ydata-profiling`

In [1]:
# import liberaries
import pandas as pd
import seaborn as sns
import ydata_profiling as yd

/Users/sami/miniconda3/envs/yda_profiling/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# load data
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
# ydata profile report
profile = yd.ProfileReport(df)
profile.to_file(output_file='./outputs/ydata_titanic.html')

Summarize dataset: 100%|██████████| 41/41 [00:01<00:00, 28.38it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.71s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  2.44it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 410.56it/s]

# do it on pak population data set

In [5]:
df_pop = pd.read_csv("../day_12/sub-division_population_of_pakistan.csv")
df.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False

In [7]:
profile = yd.ProfileReport(df_pop)
profile.to_file("./outputs/ydata_pak_population.html")

Summarize dataset: 100%|██████████| 319/319 [00:15<00:00, 20.99it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:04<00:00,  4.04s/it]
Render HTML: 100%|██████████| 1/1 [00:03<00:00,  3.49s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 59.78it/s]

# `Assignment`: Perform ydata profiling on two data sets